<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="container" style="text-center">
    <p>&copy; Tejasree Seelam 2019 </p>
        <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon"
                                         href="https://www.linkedin.com/in/tejasree-seelam/" rel="tooltip"
                                         title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/tejasreeseelam" rel="tooltip"
                title="Follow me on GitHub"><i class="fa fa-github"></i></a>
        </div>

</footer>