<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .container{
        font-family: monospace;
    }
    .btn-default{
        background-color: #009999;
        border-radius: 20px;

    }
</style>

<footer class="container" style="text-align: center; padding-top: 30px">
   <p>
       <a class="btn btn-default btn-round btn-lg btn-icon"
          href="https://www.linkedin.com/in/tejasree-seelam/" rel="tooltip"
          title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i>
       </a>
       <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/tejasreeseelam" rel="tooltip"
          title="Follow me on GitHub"><i class="fa fa-github"></i></a>
   </p>
    <p  style="color: #009999" >&copy; Tejasree Seelam 2019 </p>

</footer>