<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .icons{
        float: right;
    }
</style>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" >
        <a class="navbar-brand" href="{{ site.url }}/">{{ site.name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/resume/">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/projects/">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/contact/">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default btn-round btn-lg btn-icon"
                       href="https://www.linkedin.com/in/tejasree-seelam/" rel="tooltip"
                       title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/tejasreeseelam" rel="tooltip"
                       title="Follow me on GitHub"><i class="fa fa-github"></i></a>
                </li>
            </ul>
            <!--
            <ul class="icons">
                <li class="nav-item">
                    <a class="btn btn-default btn-round btn-lg btn-icon"
                       href="https://www.linkedin.com/in/tejasree-seelam/" rel="tooltip"
                       title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/tejasreeseelam" rel="tooltip"
                       title="Follow me on GitHub"><i class="fa fa-github"></i></a>
                </li>
            </ul>
            -->
        </div>
    </nav>
</header>




