<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% if site.highlighter %}
    <link rel='stylesheet' href='{{ site.url }}/assets/css/syntax.css' type='text/css'>
    {% endif %}
    <title>
        {% if page.title %}
        {{ page.title }}
        {% else %}
        {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>
</head>
<body>
<div class="container">
    {% include header.html %}

    <div class="row">
        <div class="col-8">
            {{ content }}
        </div>
        <div class="col-4">

             <img src="{{ site.url }}/assets/images/aboutProfile.png" class="img-fluid" alt="Responsive image">

        </div>
    </div>

    <div class="container" style="margin-top: 50px ">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                            <div class="col-sm-8">21</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                            <div class="col-sm-8">tejaseelam@gmail.com</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                            <div class="col-sm-8">732-789-4611</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title"></div>
                        <div class="row">
                            <div class="col-sm-4"><strong class="text-uppercase">University:</strong></div>
                            <div class="col-sm-8">New Jersey Institute of Technology</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Location:</strong></div>
                            <div class="col-sm-8">North Brunswick, NJ, USA</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4"><strong class="text-uppercase">Languages:</strong></div>
                            <div class="col-sm-8">English, Telugu, Hindi, Spanish</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="card">
        <div class="card-body">
            This is some text within a card body.
        </div>
    </div>-->

    {% include footer.html %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>